In [1]:
import pandas as pd
pd.set_option("display.max_columns",None)
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data=pd.read_json(r"C:\Users\ss996\OneDrive\Desktop\Projects\P3-Airbnb\sample_airbnb.json")
data

In [3]:
data["images"]= data["images"].apply(lambda x: x["picture_url"])

In [4]:
data["review_scores"]= data["review_scores"].apply(lambda x: x.get("review_scores_rating",0))

In [ ]:
data

In [6]:
data.describe()

,_id,minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,security_deposit,cleaning_fee,extra_people,guests_included,review_scores,weekly_price,monthly_price,reviews_per_month
count,5.555000e+03,5555.000000,5.555000e+03,5555.000000,5550.000000,5542.000000,5555.000000,5545.000000,5555.000000,3471.000000,4024.000000,5555.000000,5555.000000,5555.000000,714.000000,656.000000,94.000000
mean,1.664386e+07,5.564356,1.382776e+06,3.505851,1.411712,2.071454,27.606481,1.291163,278.766157,509.430424,94.074801,22.791899,1.747435,68.395680,1530.903361,5391.370427,1.712766
std,9.622558e+06,22.613861,5.256920e+07,2.297019,1.041942,1.619660,49.798376,0.702265,842.215531,1594.805320,110.203782,69.331511,1.487352,41.829834,3185.916331,12723.569651,1.492795
min,1.170800e+04,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,1.000000,0.000000,60.000000,250.000000,1.000000
25%,8.376039e+06,1.000000,5.900000e+01,2.000000,1.000000,1.000000,1.000000,1.000000,70.000000,0.000000,23.000000,0.000000,1.000000,0.000000,480.250000,1505.250000,1.000000
50%,1.711345e+07,2.000000,1.125000e+03,3.000000,1.000000,2.000000,5.000000,1.000000,129.000000,200.000000,60.000000,0.000000,1.000000,92.000000,800.000000,2800.000000,1.000000
75%,2.461229e+07,3.000000,1.125000e+03,4.000000,2.000000,3.000000,32.000000,1.000000,280.000000,500.000000,129.000000,20.000000,2.000000,98.000000,1575.250000,4800.000000,2.000000
max,3.295874e+07,1250.000000,2.147484e+09,16.000000,20.000000,25.000000,533.000000,16.000000,48842.000000,39228.000000,2000.000000,2346.000000,16.000000,100.000000,59123.000000,253384.000000,10.000000

In [ ]:
data.describe().T

In [ ]:
data.isnull().sum()

# Handling the Null Vaulues:

The Null Values Feauturs are 
first_review
last_review
bedrooms                    
beds  
cleaning_fee
security_deposit 
weekly_price             
monthly_price            
reviews_per_month

In [9]:
data["first_review"].fillna(0,inplace= True)
data["last_review"].fillna(0,inplace= True)
data["bedrooms"].fillna(0,inplace= True)
data["bathrooms"].fillna(0,inplace= True)
data["beds"].fillna(0,inplace= True)
data["cleaning_fee"].fillna(0,inplace= True)
data["security_deposit"].fillna(0,inplace= True)
data["weekly_price"].fillna(0,inplace= True)
data["monthly_price"].fillna(0,inplace= True)
data["reviews_per_month"].fillna(0,inplace= True)

In [ ]:
data.isnull().sum()

In [ ]:
data

In [ ]:
# Handling the datatypes

In [ ]:
data.head()

In [ ]:
data.dtypes

In [14]:
data["minimum_nights"]= data["minimum_nights"].astype(int)
data["maximum_nights"]= data["maximum_nights"].astype(int)
data["bedrooms"]= data["bedrooms"].astype(int)
data["beds"]= data["beds"].astype(int)
data["bathrooms"]= data["bathrooms"].astype(str).astype(float).astype(int)
data["price"]= data["price"].astype(str).astype(float).astype(int)
data["extra_people"]= data["extra_people"].astype(str).astype(float).astype(int)
data["guests_included"]= data["guests_included"].astype(str).astype(float).astype(int)
data["cleaning_fee"]= data["cleaning_fee"].astype(str).astype(float).astype(int)

In [ ]:
data.dtypes

In [16]:
coll=data.columns.unique()

In [17]:
# Collect the Host Details
host= []
for i in coll:
    host.append(i)

In [ ]:
df_host=pd.DataFrame(host)
df_host

In [19]:
host_columns= {'_id':[],'host_id':[], 'host_url':[], 'host_name':[], 'host_location':[],"host_response_time":[], 'host_thumbnail_url':[],
                'host_picture_url':[], 'host_neighbourhood':[], 'host_response_rate':[], 'host_is_superhost':[], 'host_has_profile_pic':[],
                  'host_identity_verified':[], 'host_listings_count':[], 'host_total_listings_count':[], 'host_verifications':[]}

for i in data["_id"]:
    host_columns["_id"].append(i)
for i in data["host"]:
    host_columns["host_id"].append(i["host_id"])
    host_columns["host_url"].append(i["host_url"])
    host_columns["host_name"].append(i["host_name"])
    host_columns["host_location"].append(i["host_location"])
    host_columns["host_response_time"].append(i.get("host_response_time"))
    host_columns["host_thumbnail_url"].append(i["host_thumbnail_url"])
    host_columns["host_picture_url"].append(i["host_picture_url"])
    host_columns["host_neighbourhood"].append(i["host_neighbourhood"])
    host_columns["host_response_rate"].append(i.get("host_response_rate"))
    host_columns["host_is_superhost"].append(i["host_is_superhost"])
    host_columns["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_columns["host_identity_verified"].append(i["host_identity_verified"])
    host_columns["host_listings_count"].append(i["host_listings_count"])
    host_columns["host_total_listings_count"].append(i["host_total_listings_count"])
    host_columns["host_verifications"].append(i["host_verifications"])

In [20]:
df_host_1= pd.DataFrame(host_columns)

In [ ]:
df_host_1.head()

In [ ]:
df_host_1.isnull().sum()

In [23]:
# host_neighbourhood have more empty values ('')
# Finding the how many values are empty
list_index= []
for index,row in df_host_1.iterrows():
    if row["host_neighbourhood"] =='':
        list_index.append(index)

In [24]:
len(list_index)

1923

In [25]:
# Handling the Null values and empty values for "host"
df_host_1["host_response_time"].fillna("Not Specified",inplace= True)
df_host_1["host_response_rate"].fillna("Not Specified",inplace= True)
df_host_1["host_neighbourhood"]= df_host_1["host_neighbourhood"].replace({'':"Not Specified"})

In [ ]:
df_host_1.isnull().sum()

In [ ]:
df_host_1

In [28]:
# Changing the "True" or "False" features

df_host_1["host_is_superhost"]= df_host_1["host_is_superhost"].map({False: "No", True: "Yes"})
df_host_1["host_has_profile_pic"]= df_host_1["host_has_profile_pic"].map({False: "No", True: "Yes"})
df_host_1["host_identity_verified"]= df_host_1["host_identity_verified"].map({False: "No", True: "Yes"})

In [ ]:
df_host_1.head()

In [ ]:
data["address"]

In [31]:
df_address=pd.DataFrame(data["address"])

In [32]:
df_address.head()

                                             address
0  {'street': 'New York, NY, United States', 'sub...
1  {'street': 'Fatih , İstanbul, Turkey', 'suburb...
2  {'street': 'Hong Kong, Hong Kong Island, Hong ...
3  {'street': 'Hong Kong , 九龍, Hong Kong', 'subur...
4  {'street': 'Surry Hills, NSW, Australia', 'sub...

In [33]:
address_columns = {
    '_id': [], 'street': [], 'suburb': [], 'government_area': [], 'market': [], 'country': [],
    'country_code': [], 'location_type': [], "longitude": [], "latitude": [],
    "is_location_exact": []
}

# Populate the address_columns dictionary
for entry in data["_id"]:
    address_columns["_id"].append(entry)
for entry in data["address"]:
    address_columns['street'].append(entry['street'])
    address_columns["suburb"].append(entry["suburb"])
    address_columns["government_area"].append(entry["government_area"])
    address_columns["market"].append(entry["market"])
    address_columns["country"].append(entry["country"])
    address_columns["country_code"].append(entry["country_code"])
    address_columns["location_type"].append(entry["location"]["type"])
    address_columns["longitude"].append(entry["location"]["coordinates"][0])
    address_columns["latitude"].append(entry["location"]["coordinates"][1])
    address_columns["is_location_exact"].append(entry["location"]["is_location_exact"])

In [34]:
df_address=pd.DataFrame(address_columns)

In [35]:
df_address.head(3)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,1003530,"New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.79962,False
1,10133554,"Fatih , İstanbul, Turkey",Fatih,Fatih,Istanbul,Turkey,TR,Point,28.98009,41.00620,False
2,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.28158,True

In [ ]:
df_address.isnull().sum()

In [37]:
# Checking the empty values ('') for all features

id_e=[]
stre_e=[]
suburb_e=[]
gov_e=[]
mark_e=[]
cntry_e=[]
cntry_co_e=[]
loc_ty_e=[]
long_e=[]
lat_e=[]
is_loc_tr_e=[]
for index,row in df_address.iterrows():
    if row["_id"] == '':
        id_e.append(index)

    if row["street"] == '':
        stre_e.append(index)
        
    if row["suburb"] == '':
        suburb_e.append(index)

    if row["government_area"] == '':
        gov_e.append(index)

    if row["market"] == '':
        mark_e.append(index)

    if row["country"] == '':
        cntry_e.append(index)
    
    if row["country_code"] == '':
        cntry_co_e.append(index)

    if row["location_type"] == '':
        loc_ty_e.append(index) 

    if row["longitude"] == '':
        long_e.append(index)

    if row["latitude"] == '':
        lat_e.append(index)

    if row["is_location_exact"] == '':
        is_loc_tr_e.append(index)

In [ ]:
empty_columns=[id_e,stre_e,suburb_e,gov_e,mark_e,cntry_e,cntry_co_e,loc_ty_e,long_e,lat_e,is_loc_tr_e]
for i in empty_columns:
    print(len(i))

In [39]:
# Handling the empty values and Boolian Values
# "suburb" and "market" have a empty values

df_address["suburb"]= df_address["suburb"].replace({'':"Not Specified"})
df_address["market"]= df_address["market"].replace({'':"Not Specified"})
df_address["is_location_exact"]= df_address["is_location_exact"].map({False:"No", True:"Yes"})

In [ ]:
df_address.head()

In [ ]:
data['availability']

In [42]:
availabe_columns= {'_id':[], 'availability_30':[], 'availability_60':[], 'availability_90':[], 'availability_365':[]}

for i in data["_id"]:
    availabe_columns["_id"].append(i)
for i in data["availability"]:
    availabe_columns["availability_30"].append(i["availability_30"])
    availabe_columns["availability_60"].append(i["availability_60"])
    availabe_columns["availability_90"].append(i["availability_90"])
    availabe_columns["availability_365"].append(i["availability_365"])

In [ ]:
availabe_columns

In [44]:
len(availabe_columns)

5

In [ ]:
df_availability=pd.DataFrame(availabe_columns)
df_availability

In [47]:
df_availability.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [48]:
df_availability.dtypes

_id                 int64
availability_30     int64
availability_60     int64
availability_90     int64
availability_365    int64
dtype: object

In [ ]:
data['amenities']

In [50]:
# Initialize the dictionary to store amenities
amenities_columns = {
    '_id': [],
    'amenities': []
}

# Loop through the DataFrame to populate the dictionary
for index, row in data.iterrows():
    amenities_columns['_id'].append(row['_id'])
    amenities_columns['amenities'].append(row['amenities'])  # Assuming amenities is a list or string

In [ ]:
amenities_columns

In [ ]:
df_amenities = pd.DataFrame(amenities_columns)
df_amenities

In [53]:
def sort_amenities(x):
    a= x
    a.sort()
    return a

In [54]:
df_amenities["amenities"]= df_amenities["amenities"].apply(lambda x: sort_amenities(x))

In [55]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [56]:
df_amenities.dtypes

_id           int64
amenities    object
dtype: object

In [58]:
data= pd.merge(data, df_host_1, on="_id")
data= pd.merge(data, df_address, on="_id")
data= pd.merge(data, df_availability, on="_id")
data= pd.merge(data, df_amenities, on="_id")

In [ ]:
import pandas as pd


df=pd.read_csv(r"C:\Users\ss996\OneDrive\Desktop\Projects\P3-Airbnb")