In [72]:
import pandas as pd
pd.set_option("display.max_columns",None)
import warnings
warnings.filterwarnings("ignore")

In [310]:
data=pd.read_json(r"C:\Users\ss996\OneDrive\Desktop\Projects\P3-Airbnb\sample_airbnb.json")
data

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,interaction,house_rules,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,last_scraped,calendar_last_scraped,first_review,last_review,accommodates,bedrooms,beds,number_of_reviews,bathrooms,amenities,price,security_deposit,cleaning_fee,extra_people,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,,"Murphy bed, optional second bedroom available....","Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"My cat, Samantha, are in and out during the su...","Conveniently located near 1, 2, 3, B & C subwa...",New York City!,,No smoking is permitted in the apartment. All ...,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2019-03-07 05:00:00,2019-03-07 05:00:00,2013-04-29 04:00:00,2018-08-12 04:00:00,2,1.0,1.0,70,1.0,"[Internet, Wifi, Air conditioning, Kitchen, El...",135,0.0,135.0,0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '454250', 'host_url': 'https://www...","{'street': 'New York, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '4351675', 'date': '2013-04-29 04:00:...",NaN,NaN,NaN
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,,We are on the central city Blue mosque 5 minu...,We are on the central city Blue mosque 5 minu...,Cankurtaran mahallesi akbıyık caddesi no 22 Su...,,Tram 5 minutes metro 10 minutes Bus 10 minutes,"We have bathroom,wc,İnternet in rooms and unde...",Hospitality,,Bed and breakfast,Private room,Real Bed,1,1125,moderate,2019-02-18 05:00:00,2019-02-18 05:00:00,2017-05-04 04:00:00,2018-05-07 04:00:00,3,1.0,2.0,29,1.0,"[Internet, Wifi, Air conditioning, Free parkin...",121,NaN,NaN,0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '52004703', 'host_url': 'https://w...","{'street': 'Fatih , İstanbul, Turkey', 'suburb...","{'availability_30': 30, 'availability_60': 60,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '149469150', 'date': '2017-05-04 04:0...",NaN,NaN,NaN
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,"Clean, fully furnish, Spacious 1 bedroom flat ...",,,,,,,Apartment,Entire home/apt,Real Bed,4,20,flexible,2019-03-11 04:00:00,2019-03-11 04:00:00,2015-12-19 05:00:00,2018-03-27 04:00:00,3,1.0,2.0,3,1.0,"[Air conditioning, Kitchen, Smoking allowed, D...",699,NaN,NaN,0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51624384', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '56904633', 'date': '2015-12-19 05:00...",5000.0,NaN,NaN
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,House is located 5mins walk from Sham Shui Po ...,"The house is old fashion type, and paint the w...",House is located 5mins walk from Sham Shui Po ...,"Cheapest food, electronic device, clothing and...",Deposit of $1000 will be charged and will retu...,"Close to 3 different MTR Station, Sham shui Po...","Living Room , Kitchen and Toilet, All cooking ...",A phone card of unlimited data will be provide...,"1. 禁止吸煙, 只限女生入住 (除得到批准) No smoking and only fe...",Guesthouse,Private room,Futon,1,500,strict_14_with_grace_period,2019-03-11 04:00:00,2019-03-11 04:00:00,2015-12-22 05:00:00,2019-03-01 05:00:00,1,1.0,1.0,81,1.0,"[TV, Wifi, Air conditioning, Kitchen, Elevator...",181,0.0,50.0,100,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51744313', 'host_url': 'https://w...","{'street': 'Hong Kong , 九龍, Hong Kong', 'subur...","{'availability_30': 14, 'availability_60': 24,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '57191745', 'date': '2015-12-22 05:00...",1350.0,5000.0,NaN
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,"This spacious, light filled studio has everyth...",Comfortable studio with a great layout. The ba...,"This spacious, light filled studio has everyth...",Surry Hills is a vibrant eclectic community an...,"WiFi, Apple TV with Netflix App (for use with ...",Travel Card 'Opal' travel cards work on all Sy...,You have full use of the entire studio and com...,You have complete privacy during your stay.,"No smoking: No smoking any substance, includi...",Apartment,Entire home/apt,Real Bed,10,21,strict_14_with_grace_period,2019-03-07 05:00:00,2019-03-07 05:00:00,2016-12-29 05:00:00,2018-03-18 04:00:00,2,0.0,1.0,64,1.0,"[TV, Wifi, Kitchen, Elevator, Heating, Washer,...",181,300.0,50.0,0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '13764143', 'host_url': 'https://w...","{'street': 'Surry Hills, NSW, Australia', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '123549502', 'date': '2016-12-29 05:0...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,,,,,,House,Entire home/apt,Real Bed,1,1125,flexible,2019-02-18 05:00:00,2019-02-18 05:00:00,NaN,NaN,2,2.0,3.0,0,1.0,"[TV, Cable TV, Internet, Wifi, Kitchen, Buzzer...",501,NaN,NaN,0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51303748', 'host_url': 'https://w...","{'street': 'Kadıköy, İstanbul, Turkey', 'subur...","{'availability_30': 30, 'availability_60': 60,...",{},[],NaN,NaN,NaN
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,"***NOTE: THE OCEAN INFINITY POOL (""POOL 1""0 WI...",Relax Hawaiian Style in Gated Community on Oce...,Location: Located at the south end of Lahaina ...,Puamana Resort requires a $10/day resort fee w...,You can walk to most attractions within Lahain...,Guests will have access to the 3 pools in the ...,We do most of our interaction through emails a...,"As a guest of Coconut Condos, I agree to the f...",Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2019-03-06 05:00:00,2019-03-06 05:00:00,2016-04-06 04:00:00,2018-08-20 04:00:00,6,2.0,4.0,15,2.0,"[TV, Wifi, Air conditioning, Pool, Kitchen, Fr...",220,200.0,315.0,0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51013381', 'host_url': 'https://w...","{'street': 'Lahaina, HI, United States', 'subu...","{'availability_30': 0, 'availability_60': 8, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '68762225', 'date': '2016-04-06 04:00...",NaN,NaN,NaN
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Newly renovated studio flat with full furniture.,,Newly renovated studio flat with full furniture.,,,,,,,Apartment,Private room,Real Bed,3,1125,flexible,2019-03-11 04:00:00,2019-03-11 04:00:00,2016-10-02 04:00:00,2017-01-01 05:00:00,1,1.0,1.0,4,1.0,"[TV, Wifi, Air conditioning, Kitchen, Elevator...",400,3000.0,NaN,300,2,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '31386255', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 18, 'availability_60': 48,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '105800033', 'date': '2016-10-02 04:0...",NaN,NaN,NaN
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,A bright large double room is available in a b...,,A bright large double room is available in a b...,,,The flat is exactly half way between the shops...,"Guests will have access to the full residence,...",I will be spending the whole of the Easter per...,We like to keep the flat clean and tidy so wou...,Apartment,Private room,Real Bed,3,1125,moderate,2019-03-07 05:00:00,2019-03-07 05:00:00,NaN,NaN,2,1.0,1.0,0,1.0,"[TV, Internet, Wifi, Kitchen, Washer, Dryer, S...",60,NaN,50.0,50,2,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47615848', 'host_url': 'https://w...","{'street': 'Bondi Beach, NSW, Australia', 'sub...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN
5554,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,,Apartamento amplo que acomoda 6 pessoas. Um qu...,,,,,,Cuidar das instalações e objetos da casa em pe...,Apartment,Entire home/apt,Real Bed,1,1125,flexible,2019-02-11 05:00:00,2019-02-11 05:00:00,NaN,NaN,6,1.0,2.0,0,2.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",750,NaN,NaN,0,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47092481', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN

In [311]:
data["images"]= data["images"].apply(lambda x: x["picture_url"])

In [312]:
data["review_scores"]= data["review_scores"].apply(lambda x: x.get("review_scores_rating",0))

In [ ]:
data

In [97]:
data.describe()

,_id,minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,security_deposit,cleaning_fee,extra_people,guests_included,review_scores,weekly_price,monthly_price,reviews_per_month
count,5.555000e+03,5555.000000,5.555000e+03,5555.000000,5550.000000,5542.000000,5555.000000,5545.000000,5555.000000,3471.000000,4024.000000,5555.000000,5555.000000,5555.000000,714.000000,656.000000,94.000000
mean,1.664386e+07,5.564356,1.382776e+06,3.505851,1.411712,2.071454,27.606481,1.291163,278.766157,509.430424,94.074801,22.791899,1.747435,68.395680,1530.903361,5391.370427,1.712766
std,9.622558e+06,22.613861,5.256920e+07,2.297019,1.041942,1.619660,49.798376,0.702265,842.215531,1594.805320,110.203782,69.331511,1.487352,41.829834,3185.916331,12723.569651,1.492795
min,1.170800e+04,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,1.000000,0.000000,60.000000,250.000000,1.000000
25%,8.376039e+06,1.000000,5.900000e+01,2.000000,1.000000,1.000000,1.000000,1.000000,70.000000,0.000000,23.000000,0.000000,1.000000,0.000000,480.250000,1505.250000,1.000000
50%,1.711345e+07,2.000000,1.125000e+03,3.000000,1.000000,2.000000,5.000000,1.000000,129.000000,200.000000,60.000000,0.000000,1.000000,92.000000,800.000000,2800.000000,1.000000
75%,2.461229e+07,3.000000,1.125000e+03,4.000000,2.000000,3.000000,32.000000,1.000000,280.000000,500.000000,129.000000,20.000000,2.000000,98.000000,1575.250000,4800.000000,2.000000
max,3.295874e+07,1250.000000,2.147484e+09,16.000000,20.000000,25.000000,533.000000,16.000000,48842.000000,39228.000000,2000.000000,2346.000000,16.000000,100.000000,59123.000000,253384.000000,10.000000

In [98]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
_id,5555.0,1.664386e+07,9.622558e+06,11708.0,8376039.00,17113453.0,24612288.00,3.295874e+07
minimum_nights,5555.0,5.564356e+00,2.261386e+01,1.0,1.00,2.0,3.00,1.250000e+03
maximum_nights,5555.0,1.382776e+06,5.256920e+07,1.0,59.00,1125.0,1125.00,2.147484e+09
accommodates,5555.0,3.505851e+00,2.297019e+00,1.0,2.00,3.0,4.00,1.600000e+01
bedrooms,5550.0,1.411712e+00,1.041942e+00,0.0,1.00,1.0,2.00,2.000000e+01
beds,5542.0,2.071454e+00,1.619660e+00,0.0,1.00,2.0,3.00,2.500000e+01
number_of_reviews,5555.0,2.760648e+01,4.979838e+01,0.0,1.00,5.0,32.00,5.330000e+02
bathrooms,5545.0,1.291163e+00,7.022648e-01,0.0,1.00,1.0,1.00,1.600000e+01
price,5555.0,2.787662e+02,8.422155e+02,9.0,70.00,129.0,280.00,4.884200e+04
security_deposit,3471.0,5.094304e+02,1.594805e+03,0.0,0.00,200.0,500.00,3.922800e+04
cleaning_fee,4024.0,9.407480e+01,1.102038e+02,0.0,23.00,60.0,129.00,2.000000e+03
extra_people,5555.0,2.279190e+01,6.933151e+01,0.0,0.00,0.0,20.00,2.346000e+03
guests_included,5555.0,1.747435e+00,1.487352e+00,1.0,1.00,1.0,2.00,1.600000e+01
review_scores,5555.0,6.839568e+01,4.182983e+01,0.0,0.00,92.0,98.00,1.000000e+02
weekly_price,714.0,1.530903e+03,3.185916e+03,60.0,480.25,800.0,1575.25,5.912300e+04
monthly_price,656.0,5.391370e+03,1.272357e+04,250.0,1505.25,2800.0,4800.00,2.533840e+05
reviews_per_month,94.0,1.712766e+00,1.492795e+00,1.0,1.00,1.0,2.00,1.000000e+01

In [313]:
data.isnull().sum()

_id                         0
listing_url                 0
name                        0
summary                     0
space                       0
description                 0
neighborhood_overview       0
notes                       0
transit                     0
access                      0
interaction                 0
house_rules                 0
property_type               0
room_type                   0
bed_type                    0
minimum_nights              0
maximum_nights              0
cancellation_policy         0
last_scraped                0
calendar_last_scraped       0
first_review             1388
last_review              1388
accommodates                0
bedrooms                    5
beds                       13
number_of_reviews           0
bathrooms                  10
amenities                   0
price                       0
security_deposit         2084
cleaning_fee             1531
extra_people                0
guests_included             0
images                      0
host                        0
address                     0
availability                0
review_scores               0
reviews                     0
weekly_price             4841
monthly_price            4899
reviews_per_month        5461
dtype: int64

# Handling the Null Vaulues:

The Null Values Feauturs are 
first_review
last_review
bedrooms                    
beds  
cleaning_fee
security_deposit 
weekly_price             
monthly_price            
reviews_per_month

In [314]:
data["first_review"].fillna(0,inplace= True)
data["last_review"].fillna(0,inplace= True)
data["bedrooms"].fillna(0,inplace= True)
data["bathrooms"].fillna(0,inplace= True)
data["beds"].fillna(0,inplace= True)
data["cleaning_fee"].fillna(0,inplace= True)
data["security_deposit"].fillna(0,inplace= True)
data["weekly_price"].fillna(0,inplace= True)
data["monthly_price"].fillna(0,inplace= True)
data["reviews_per_month"].fillna(0,inplace= True)

In [265]:
data.isnull().sum()

_id                      0
listing_url              0
name                     0
summary                  0
space                    0
description              0
neighborhood_overview    0
notes                    0
transit                  0
access                   0
interaction              0
house_rules              0
property_type            0
room_type                0
bed_type                 0
minimum_nights           0
maximum_nights           0
cancellation_policy      0
last_scraped             0
calendar_last_scraped    0
first_review             0
last_review              0
accommodates             0
bedrooms                 0
beds                     0
number_of_reviews        0
bathrooms                0
amenities                0
price                    0
security_deposit         0
cleaning_fee             0
extra_people             0
guests_included          0
images                   0
host                     0
address                  0
availability             0
review_scores            0
reviews                  0
weekly_price             0
monthly_price            0
reviews_per_month        0
dtype: int64

In [ ]:
# Handling the datatypes

In [315]:
data.dtypes

_id                        int64
listing_url               object
name                      object
summary                   object
space                     object
description               object
neighborhood_overview     object
notes                     object
transit                   object
access                    object
interaction               object
house_rules               object
property_type             object
room_type                 object
bed_type                  object
minimum_nights             int64
maximum_nights             int64
cancellation_policy       object
last_scraped              object
calendar_last_scraped     object
first_review              object
last_review               object
accommodates               int64
bedrooms                 float64
beds                     float64
number_of_reviews          int64
bathrooms                float64
amenities                 object
price                      int64
security_deposit         float64
cleaning_fee             float64
extra_people               int64
guests_included            int64
images                    object
host                      object
address                   object
availability              object
review_scores              int64
reviews                   object
weekly_price             float64
monthly_price            float64
reviews_per_month        float64
dtype: object

In [316]:
data["_id"]= data["_id"].astype(str)
data["minimum_nights"]= data["minimum_nights"].astype(int)
data["maximum_nights"]= data["maximum_nights"].astype(int)
data["bedrooms"]= data["bedrooms"].astype(int)
data["beds"]= data["beds"].astype(int)
data["bathrooms"]= data["bathrooms"].astype(str).astype(float).astype(int)
data["price"]= data["price"].astype(str).astype(float).astype(int)
data["extra_people"]= data["extra_people"].astype(str).astype(float).astype(int)
data["guests_included"]= data["guests_included"].astype(str).astype(float).astype(int)
data["cleaning_fee"]= data["cleaning_fee"].astype(str).astype(float).astype(int)

In [317]:
data.dtypes

_id                       object
listing_url               object
name                      object
summary                   object
space                     object
description               object
neighborhood_overview     object
notes                     object
transit                   object
access                    object
interaction               object
house_rules               object
property_type             object
room_type                 object
bed_type                  object
minimum_nights             int32
maximum_nights             int32
cancellation_policy       object
last_scraped              object
calendar_last_scraped     object
first_review              object
last_review               object
accommodates               int64
bedrooms                   int32
beds                       int32
number_of_reviews          int64
bathrooms                  int32
amenities                 object
price                      int32
security_deposit         float64
cleaning_fee               int32
extra_people               int32
guests_included            int32
images                    object
host                      object
address                   object
availability              object
review_scores              int64
reviews                   object
weekly_price             float64
monthly_price            float64
reviews_per_month        float64
dtype: object

In [318]:
data.columns

Index(['_id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'last_scraped', 'calendar_last_scraped', 'first_review', 'last_review',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'amenities', 'price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'guests_included', 'images', 'host', 'address',
       'availability', 'review_scores', 'reviews', 'weekly_price',
       'monthly_price', 'reviews_per_month'],
      dtype='object')

In [319]:
# Drop the 'summary' column
data = data.drop(columns=['summary','space', 'description', 'notes', 'transit', 'access', 'interaction',
       'house_rules',"neighborhood_overview",'last_scraped', 'calendar_last_scraped', 'first_review', 
       'last_review', 'security_deposit', 'reviews', 'weekly_price',
       'monthly_price', 'reviews_per_month'])

In [320]:
len(data.columns)

24

In [ ]:
df_1=pd.DataFrame(data)
df_1

In [274]:
coll=data.columns.unique()

In [275]:
# Collect the Host Details
host= []
for i in coll:
    host.append(i)

In [276]:
df_host=pd.DataFrame(host)
df_host

                      0
0                   _id
1           listing_url
2                  name
3         property_type
4             room_type
5              bed_type
6        minimum_nights
7        maximum_nights
8   cancellation_policy
9          accommodates
10             bedrooms
11                 beds
12    number_of_reviews
13            bathrooms
14                price
15         cleaning_fee
16         extra_people
17      guests_included
18               images
19                 host
20              address
21         availability
22        review_scores

In [277]:
host_columns= {'_id':[],'host_id':[], 'host_url':[], 'host_name':[], 'host_location':[],"host_response_time":[], 'host_thumbnail_url':[],
                'host_picture_url':[], 'host_neighbourhood':[], 'host_response_rate':[], 'host_is_superhost':[], 'host_has_profile_pic':[],
                  'host_identity_verified':[], 'host_listings_count':[], 'host_total_listings_count':[], 'host_verifications':[]}

for i in data["_id"]:
    host_columns["_id"].append(i)
for i in data["host"]:
    host_columns["host_id"].append(i["host_id"])
    host_columns["host_url"].append(i["host_url"])
    host_columns["host_name"].append(i["host_name"])
    host_columns["host_location"].append(i["host_location"])
    host_columns["host_response_time"].append(i.get("host_response_time"))
    host_columns["host_thumbnail_url"].append(i["host_thumbnail_url"])
    host_columns["host_picture_url"].append(i["host_picture_url"])
    host_columns["host_neighbourhood"].append(i["host_neighbourhood"])
    host_columns["host_response_rate"].append(i.get("host_response_rate"))
    host_columns["host_is_superhost"].append(i["host_is_superhost"])
    host_columns["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_columns["host_identity_verified"].append(i["host_identity_verified"])
    host_columns["host_listings_count"].append(i["host_listings_count"])
    host_columns["host_total_listings_count"].append(i["host_total_listings_count"])
    host_columns["host_verifications"].append(i["host_verifications"])

In [278]:
df_host_1= pd.DataFrame(host_columns)

In [279]:
df_host_1["_id"]= df_host_1["_id"].astype(str)

In [280]:
df_host_1.dtypes

_id                           object
host_id                       object
host_url                      object
host_name                     object
host_location                 object
host_response_time            object
host_thumbnail_url            object
host_picture_url              object
host_neighbourhood            object
host_response_rate           float64
host_is_superhost               bool
host_has_profile_pic            bool
host_identity_verified          bool
host_listings_count            int64
host_total_listings_count      int64
host_verifications            object
dtype: object

In [281]:
df_host_1.head()

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,,100.0,True,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",within a few hours,https://a0.muscache.com/im/pictures/user/4cb6b...,https://a0.muscache.com/im/pictures/user/4cb6b...,,100.0,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, offli..."
2,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",None,https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,NaN,False,True,False,1,1,"[email, phone, reviews, jumio, government_id]"
3,10084023,51744313,https://www.airbnb.com/users/show/51744313,Yi,United States,within an hour,https://a0.muscache.com/im/pictures/user/a204d...,https://a0.muscache.com/im/pictures/user/a204d...,Shek Kip Mei,100.0,False,True,True,2,2,"[email, phone, reviews, jumio, offline_governm..."
4,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",None,https://a0.muscache.com/im/pictures/03c4d82b-7...,https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,NaN,False,True,True,1,1,"[email, phone, google, reviews, jumio, offline..."

In [116]:
df_host_1.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_thumbnail_url              0
host_picture_url                0
host_neighbourhood              0
host_response_rate           1388
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

In [282]:
# host_neighbourhood have more empty values ('')
# Finding the how many values are empty
list_index= []
for index,row in df_host_1.iterrows():
    if row["host_neighbourhood"] =='':
        list_index.append(index)

In [283]:
len(list_index)

1923

In [284]:
# Handling the Null values and empty values for "host"
df_host_1["host_response_time"].fillna("Not Specified",inplace= True)
df_host_1["host_response_rate"].fillna("Not Specified",inplace= True)
df_host_1["host_neighbourhood"]= df_host_1["host_neighbourhood"].replace({'':"Not Specified"})

In [285]:
df_host_1.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [ ]:
df_host_1

In [287]:
# Changing the "True" or "False" features

df_host_1["host_is_superhost"]= df_host_1["host_is_superhost"].map({False: "No", True: "Yes"})
df_host_1["host_has_profile_pic"]= df_host_1["host_has_profile_pic"].map({False: "No", True: "Yes"})
df_host_1["host_identity_verified"]= df_host_1["host_identity_verified"].map({False: "No", True: "Yes"})

In [288]:
df_host_1.head()

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,Not Specified,100.0,Yes,Yes,Yes,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",within a few hours,https://a0.muscache.com/im/pictures/user/4cb6b...,https://a0.muscache.com/im/pictures/user/4cb6b...,Not Specified,100.0,No,Yes,Yes,2,2,"[email, phone, facebook, reviews, jumio, offli..."
2,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",Not Specified,https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,Not Specified,No,Yes,No,1,1,"[email, phone, reviews, jumio, government_id]"
3,10084023,51744313,https://www.airbnb.com/users/show/51744313,Yi,United States,within an hour,https://a0.muscache.com/im/pictures/user/a204d...,https://a0.muscache.com/im/pictures/user/a204d...,Shek Kip Mei,100.0,No,Yes,Yes,2,2,"[email, phone, reviews, jumio, offline_governm..."
4,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/03c4d82b-7...,https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,Not Specified,No,Yes,Yes,1,1,"[email, phone, google, reviews, jumio, offline..."

In [ ]:
data["address"]

In [290]:
df_address=pd.DataFrame(data["address"])

In [291]:
df_address.head()

                                             address
0  {'street': 'New York, NY, United States', 'sub...
1  {'street': 'Fatih , İstanbul, Turkey', 'suburb...
2  {'street': 'Hong Kong, Hong Kong Island, Hong ...
3  {'street': 'Hong Kong , 九龍, Hong Kong', 'subur...
4  {'street': 'Surry Hills, NSW, Australia', 'sub...

In [292]:
address_columns = {
    '_id': [], 'street': [], 'suburb': [], 'government_area': [], 'market': [], 'country': [],
    'country_code': [], 'location_type': [], "longitude": [], "latitude": [],
    "is_location_exact": []
}

# Populate the address_columns dictionary
for entry in data["_id"]:
    address_columns["_id"].append(entry)
for entry in data["address"]:
    address_columns['street'].append(entry['street'])
    address_columns["suburb"].append(entry["suburb"])
    address_columns["government_area"].append(entry["government_area"])
    address_columns["market"].append(entry["market"])
    address_columns["country"].append(entry["country"])
    address_columns["country_code"].append(entry["country_code"])
    address_columns["location_type"].append(entry["location"]["type"])
    address_columns["longitude"].append(entry["location"]["coordinates"][0])
    address_columns["latitude"].append(entry["location"]["coordinates"][1])
    address_columns["is_location_exact"].append(entry["location"]["is_location_exact"])

In [293]:
df_address.dtypes

address    object
dtype: object

In [294]:
df_address=pd.DataFrame(address_columns)

In [295]:
df_address.head(3)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,1003530,"New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.79962,False
1,10133554,"Fatih , İstanbul, Turkey",Fatih,Fatih,Istanbul,Turkey,TR,Point,28.98009,41.00620,False
2,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.28158,True

In [296]:
df_address.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [297]:
# Checking the empty values ('') for all features

id_e=[]
stre_e=[]
suburb_e=[]
gov_e=[]
mark_e=[]
cntry_e=[]
cntry_co_e=[]
loc_ty_e=[]
long_e=[]
lat_e=[]
is_loc_tr_e=[]
for index,row in df_address.iterrows():
    if row["_id"] == '':
        id_e.append(index)

    if row["street"] == '':
        stre_e.append(index)
        
    if row["suburb"] == '':
        suburb_e.append(index)

    if row["government_area"] == '':
        gov_e.append(index)

    if row["market"] == '':
        mark_e.append(index)

    if row["country"] == '':
        cntry_e.append(index)
    
    if row["country_code"] == '':
        cntry_co_e.append(index)

    if row["location_type"] == '':
        loc_ty_e.append(index) 

    if row["longitude"] == '':
        long_e.append(index)

    if row["latitude"] == '':
        lat_e.append(index)

    if row["is_location_exact"] == '':
        is_loc_tr_e.append(index)

In [298]:
empty_columns=[id_e,stre_e,suburb_e,gov_e,mark_e,cntry_e,cntry_co_e,loc_ty_e,long_e,lat_e,is_loc_tr_e]
for i in empty_columns:
    print(len(i))

0
0
887
0
6
0
0
0
0
0
0

In [299]:
# Handling the empty values and Boolian Values
# "suburb" and "market" have a empty values

df_address["suburb"]= df_address["suburb"].replace({'':"Not Specified"})
df_address["market"]= df_address["market"].replace({'':"Not Specified"})
df_address["is_location_exact"]= df_address["is_location_exact"].map({False:"No", True:"Yes"})

In [ ]:
df_address.head()

In [ ]:
data['availability']

In [302]:
availabe_columns= {'_id':[], 'availability_30':[], 'availability_60':[], 'availability_90':[], 'availability_365':[]}

for i in data["_id"]:
    availabe_columns["_id"].append(i)
for i in data["availability"]:
    availabe_columns["availability_30"].append(i["availability_30"])
    availabe_columns["availability_60"].append(i["availability_60"])
    availabe_columns["availability_90"].append(i["availability_90"])
    availabe_columns["availability_365"].append(i["availability_365"])

In [ ]:
availabe_columns

In [304]:
len(availabe_columns)

5

In [ ]:
df_availability=pd.DataFrame(availabe_columns)
df_availability

In [306]:
df_availability.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [212]:

df_availability["_id"]= df_availability["_id"].astype(str)

In [307]:
df_availability.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [ ]:
data['amenities']

In [323]:
# Initialize the dictionary to store amenities
amenities_columns = {
    '_id': [],
    'amenities': []
}

# Loop through the DataFrame to populate the dictionary
for index, row in data.iterrows():
    amenities_columns['_id'].append(row['_id'])
    amenities_columns['amenities'].append(row['amenities'])  # Assuming amenities is a list or string

In [ ]:
amenities_columns

In [ ]:
df_amenities = pd.DataFrame(amenities_columns)
df_amenities

In [326]:
def sort_amenities(x):
    a= x
    a.sort()
    return a

In [327]:
df_amenities["amenities"]= df_amenities["amenities"].apply(lambda x: sort_amenities(x))
df_amenities["_id"]= df_amenities["_id"].astype(str)

In [330]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

In [329]:
df_amenities["_id"]= df_amenities["_id"].astype(str)

In [ ]:
df_host_1

In [ ]:
df_address

In [ ]:
df_availability

In [ ]:
df_amenities

In [ ]:
df_1

In [231]:
df_address.dtypes
df_address["_id"]= df_address["_id"].astype(str)

In [332]:
df= pd.merge(df_1, df_host_1, on="_id")
df= pd.merge(df, df_address, on="_id")
df= pd.merge(df, df_availability, on="_id")
df= pd.merge(df, df_amenities, on="_id")

In [333]:
df.to_csv(r'C:\Users\ss996\OneDrive\Desktop\Projects\P3-Airbnb/airbnb_cleaned_data.csv',index= False)

In [334]:
import pandas as pd
d=pd.read_csv(r'C:\Users\ss996\OneDrive\Desktop\Projects\P3-Airbnb\airbnb_cleaned_data.csv')

In [335]:
len(d.columns)

54

In [ ]:
import pandas as pd

# Load the data from a CSV file
df = pd.read_csv(r'C:\Users\ss996\OneDrive\Desktop\Projects\P3-Airbnb\airbnb_cleaned_data.csv')

# Select only numeric columns for correlation
numeric_columns = df.select_dtypes(include=['number']).columns
numeric_df = df[numeric_columns]

# Calculate the correlation matrix
correlation_matrix = numeric_df.corr()

# Print the correlation matrix
print(correlation_matrix)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Create a heatmap of the correlation matrix
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
plt.show()

In [ ]:
d.head()

In [ ]:
d.dtypes

In [ ]:
corr=d.corr()